{% extends 'layouts/default.twig.html' %}

{% block content %}

<div class="bike-bg">
  <p id="deliveries">Deliveries</p>
  <div id="gradient-border"></div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="headers">Courier</th>
        <th scope="col" class="headers">Recipient</th>
        <th scope="col" class="headers">Date</th>
        <th scope="col" class="headers">Order Time</th>
        <th scope="col" class="headers">Delivered Time</th>
        <th scope="col" class="headers">Cancel Order</th>
      </tr>
    </thead>
    <tbody>
      <!-- for each delivery in deliveries: -->
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">15:45</td>
      </tr>

      <!-- if delivery.active? -->
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center"s>15:23</td>
        <!-- delivery.delivered_time -->
        <td></td>

        <td class="text-center">
          <a href="#"><img src="images/times.png" alt="times"></a>
        </td>
      </tr>

      <!-- if delivery.cancelled? -->
      <tr class="color-orange">
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">CANCELLED</td>
        <td></td>
      </tr>
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">15:45</td>
      </tr>
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">15:45</td>
      </tr>
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">15:45</td>
      </tr>
      <tr>
        <!-- delivery.courier -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.recipient -->
        <td>1-(555)-555-5555</td>
        <!-- delivery.date -->
        <td>10-10-20</td>
        <!-- delivery.order_time -->
        <td class="text-center">15:23</td>
        <!-- delivery.delivered_time -->
        <td class="text-center">15:45</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-3"></div>
      <a href="/new" class="btn blue-btn-dash col-6">New Delivery</a>
    <div class="col-3"></div>
  </div>

</div>

{% endblock %}
