{% extends 'layouts/default.twig.html' %}

{% block content %}
  <div class="container mx-10%">
    <div class="row">
      <div class="left w-50">
        <p class="title"><span class="color-orange">Secure</span> food <br><span class="color-orange">delivery</span> for<br>your organization</p>
        <p class="content w-85p">
          Ensure that your food pantry recipients feel safe to receive their food delivery.
        </p>
        <div class="row">
          <div class="col-1"></div>
            <a href="/admin" class="btn blue-btn col-8">Secure a delivery</a>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="right w-50">
        <img src="/images/balloons.png" alt="balloons">
      </div>
    </div>

    <p class="oxygen-36-bold mt-10p text-center">
      Three easy steps
      <div class="row mt-5p">
        <div class="step col-4">
          <img src="/images/holding_phone.png" alt="holding_phone" class="step-img">
          <p class="content">Enter a delivery into the secure, authenticated application.</p>
        </div>
        <div class="step col-4">
          <img src="/images/bicycle.png" alt="bicylce" class="step-img">
          <p class="content">Enter a delivery into the secure, authenticated application.</p>
        </div>
        <div class="step col-4">
          <img src="/images/handshake.png" alt="handshake" class="step-img">
          <p class="content">Enter a delivery into the secure, authenticated application.</p>
        </div>
      </div>
    </p>
  </div>
{% endblock %}
